
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Michroma&display=swap');
  
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* start nav bar1 */
nav{
    width: 100%;
    height: 38px ;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-family: "Michroma";
    transition: all 2s;
   
}
#spans{
    font-size: 17px;
    position: sticky;
    top: 11px;
}

    

nav ul li{
    display: inline-block;
    padding:15px;
}
nav a i{
    color:aliceblue;
    font-size: 20px;
    font-size: 16px;

}
nav ul{
    margin-right: 30px;
    
}

nav ul li a{
    text-decoration: none ;
    color: aliceblue;
    font-size:14px;
}
nav ul li .fa-solid{
    font-size: 14px;
    font-weight: 550;
}

/* end navbar1 */
/* start navbar 2 */
.secondnav{
    width:100%;
    height:64px;
   background-color:  rgba(37, 39, 40, 0.8);
   position: sticky;
   top: 0px;
    transition: all 2s;
  
}
.secondnav .second img{
    width: 30px;
    height: 30px;
}
.secondnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondnav ul li{
    display: inline-block;
    padding: 15px;
}
.secondnav .second{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondnav ul a{
    color: white;
    text-decoration: none ;
    font-size: 16px;
    font-weight: 500;
    
}
.secondnav img{
    margin-left: 48px;
}
.secondnav #ulone{
    margin-left: 100px;
}


/* second nav is end  */
/* start home 1 */
.homepage{
    width: 100%;
    height: 616px;
    background-image: url(https://www.byd.com/content/dam/byd-site/us/home/kv-banner/han-blue-pc-new.jpg);
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    margin-top: -64px;

}
.homepage h1{
    padding-top: 60px;
    padding-top: 164px;
    width: auto;
    font-size: 60px;
    font-weight: 600;
    line-height: 0.375;
    color: white;
    text-align: center;
}
.homepage button{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    margin-top: 356px;
    color:white;
    font-size: 16px;
    font-weight: 500;
}
.homepage button:hover{
    background-color: antiquewhite;
    color:black;
    transition: all 1s;
}
/* endd the first home  */
/* start second home  */
.secondhome{
    width: 100%;
    height: 560px;
    background-image: url(https://www.byd.com/content/dam/byd-site/mx/homepage/BYD%20DISENO.jpg);
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}
.secondhome button{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    margin-top: 451px;
    color:white;
    font-size: 16px;
    font-weight: 500;
}
.secondhome button:hover{
    background-color: antiquewhite;
    color:black;
    transition: all 1s;
}
/* end second home */
/* start thirdome   */
.thirdhome{
    width:100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}
.thirdhome .thirdone{
    text-align: center;
    border: 2px solid white;
    width:50%;
    height: 500px;
    background-image: url("https://www.byd.com/content/dam/byd-site/us/home/banner/news-pc.jpg");
    background-size: cover;
    background-attachment:scroll ;
   
}
.thirdhome .thirdone:hover{
    background-size: 102% 503px;
    
}
.thirdhome .thirdtwo{
    text-align: center;
    border: 2px solid white;
    width:50%;
    height: 500px;
    background-image: url("https://www.byd.com/content/dam/byd-site/us/home/banner/contact-pc.jpg");
    background-size: cover;
    background-attachment:scroll ;
    
}
.thirdhome .thirdtwo:hover{
    background-size: 102% 503px;
   
}
.thirdhome  h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 294px;
}

.thirdhome  button{
    width: 151px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    font-size: 16px;
    margin-top: 47px;
    font-weight: 500;
}


.thirdhome button:hover{
    background-color: antiquewhite;
    color:black;
    transition: all 1s;
}
/* end the third home */
/* star fourthhome  */
.fourthhome{
    width:100%;
    height:550px;
    background-image: url("	https://www.byd.com/content/dam/byd-site/us/home/banner/bottom-bannerPC.jpg");
    background-attachment: scroll;
    background-size: 100% 550px;
}
/* end the 4th home  */
/* start the footer */
.footer{
    width: 100%;
    height: 78px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
}
.footer ul{
    margin-left: 56px;
}
.footer ul li{
    display: inline-block;
    padding:10px;
    color:aliceblue;


}
.footer ul li a{
    color: aliceblue;
    text-decoration: none ;
}
.footer .secondul{
    margin-right: 61px;

}
.footer .fa-brands{
    font-size: 20px;
    color: grey;
}
.footer .fa-brands:hover{
    color: aliceblue;
}


/* end the footer */
/* start footer section2 */
footer hr {
    width: 90%;
    margin-left: 5%;
    border: none;
    background-color: grey;
    height: 1px;
   
    

}
footer{
    width: 100%;
    height: 110px;
    background-color: #2c2c2c;
    text-align: center;
   
}
footer p{
    font-size: 14px;
    color: grey;
}
/* end the footer */